<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div> -->

<div style="padding-top: 50px;">
        <div class="card-deck">
                <div class="card bg-success">
                        <div class="card-body text-center">
                          <i class="fa fa-users" style="font-size: 20px;"> Active Users</i>
                          <p class="card-text">56</p>
                        </div>
                </div>
                <div class="card bg-primary">
                  <div class="card-body text-center">
                        <i class="fa fa-users" style="font-size: 20px;"> Free Users</i>
                        <p class="card-text">56</p>
                  </div>
                </div>
                <div class="card bg-warning">
                  <div class="card-body text-center">
                        <i class="fa fa-users" style="font-size: 20px;"> Paid Users</i>
                        <p class="card-text">56</p>
                  </div>
                </div>
              
                <div class="card bg-danger">
                  <div class="card-body text-center">
                        <i class="fa fa-users" style="font-size: 20px;"> InActive Users</i>
                        <p class="card-text">56</p>
                  </div>
                </div>
        </div>

            <div style="margin-top:20px">  
              <!-- <input type="file" id="fileImport"> -->
                <div class="row">
                        <div class="col"> 
                                <div class="customSection">
                                <form [formGroup]="createClassForm" (ngSubmit)="addNewClass()">
                                    <div class="dashboard-grid-heading">Daily Class/Video</div>
                                      <div class="row">
                                          <div class="col col-12">
                                            <div class="col col-12">
                                                
                                                <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
                                            </div>
                                            <div class="col col-12">
                                                <input  class="form-control" placeholder="Enter Description" formControlName="description"> 
                                            </div>
                                            <div class="col col-12">
                                                <input  class="form-control" placeholder="Video Link" formControlName="link"> 
                                            </div>
                                            <div class="col col-12">
                                                <select class="form-control" placeholder="Video Source" formControlName="source"> 
                                                    <option value="" disabled>Video Source </option>
                                                    <option value="YouTube">YouTube </option>
                                                    <option value="Vimeo">Vimeo</option>
                                                </select>
                                            </div>
                                          
                                            </div>

                                        </div>
                                        <div align="center" style="margin-top:20px">
                                          <button type="button" class="btn btn-success" [disabled]="!createClassForm.valid" (click)="addNewClass()">Submit</button>
                                        </div>
                                    </form>
                                </div>    
                        </div>
                    
                        <div class="col"> 
                            <div class="customSection">

                                <form [formGroup]="createTaskForm" (ngSubmit)="addNewTask()">
                                    <div class="dashboard-grid-heading">Create Task</div>
                                      <div class="row">
                                          <div class="col col-12">
                                            <div class="col col-12">
                                                <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
                                            </div>
                                            <div class="col col-12">
                                                <input  class="form-control" placeholder="Enter Description" formControlName="description"> 
                                            </div>
                                            <div class="col col-12">
                                                <input  class="form-control" placeholder="Reference Link" formControlName="link"> 
                                            </div>
                                             <div class="col col-12">
                                               <input type="date" class="form-control" placeholder="End Date" formControlName="endDate"> 
                                             </div>
                                            </div>
                                        </div>
                                        <div align="center" style="margin-top:20px">
                                          <button type="button" class="btn btn-success" [disabled]="!createTaskForm.valid" (click)="addNewTask()">Submit</button>
                                        </div>
                                    </form>
                               
                            </div>   
                           
                        </div>
                </div>  
               
            </div> 
          
              
</div>