<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div> -->

<div style="padding-top: 50px;">
  <div class="card-deck">
    <div class="card bg-success">
      <div class="card-body text-center">
        <i class="fa fa-users" style="font-size: 20px;"> Active Users</i>
        <p class="card-text">{{activeUsers}}</p>
      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-body text-center">
        <i class="fa fa-users" style="font-size: 20px;"> Free Users</i>
        <p class="card-text">{{freeUsers}}</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <i class="fa fa-users" style="font-size: 20px;"> Paid Users</i>
        <p class="card-text">{{paidUsers}}</p>
      </div>
    </div>

    <div class="card bg-danger">
      <div class="card-body text-center">
        <i class="fa fa-users" style="font-size: 20px;"> InActive Users</i>
        <p class="card-text">{{inactiveUsers}}</p>
      </div>
    </div>
  </div>

  <!-- <input type="file" id="fileImport" > -->

    <div style="margin-top:20px">  
        <div class="row">
           <div class="col col-12"> 
                        <div class="customSection">
                                <form [formGroup]="sendNotificationForm" (ngSubmit)="addNewNotifications()">
                                    <div class="dashboard-grid-heading">Send Notification</div>
                                      <div class="row">
                                            <div class="col col-12">
                                                
                                                <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
                                            </div>
                                            <div class="col col-12">
                                                <input  class="form-control" placeholder="Enter Description" formControlName="description"> 
                                            </div>
                                          
                                           
                                        </div>
                                        <div align="center" style="margin-top:20px">
                                          <button type="button" class="btn btn-success" [disabled]="!sendNotificationForm.valid" (click)="addNewNotifications()">Submit</button>
                                        </div>
                                    </form>
                                </div>    
            </div>
                    
        </div>  
      </div>  

  <div class="dashboard-user-table">
    <div class="dashboard-grid-heading">Help</div>
    <p>Total  : {{enquiryList.length}} </p>
    <div class="table-responsive-sm">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Status</th>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Email Id</th>
            <th>Enquiry Type</th>
            <th>Description</th>
            <th>Created</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let record of enquiryList">
            <td>
              <span *ngIf="record.status !=='Pending'">  {{record.status}} </span>
              <button type="button" *ngIf="record.status =='Pending'" class="btn btn-success" (click)="MarkAsDone(record)">Resolved</button>
            </td>
            <td>{{record.FullName}}</td>
            <td>{{record.Mobile}}</td>
            <td>{{record.Email}}</td>
            <td>{{record.EnquiryType}}</td>
            <td>{{record.Description}}</td>
            <td>{{record.createdDate}}</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>