<div class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <h1 class="h2">Videos</h1>
</div>
<div>
        <p>Total Video :  {{apiResponse.length}} </p>
        <div class="table-responsive-sm">          
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th>Title</th>
                      <th>Description</th>
                      <th>Link</th>
                      <th>Created Date</th>
                      <th>Allowed For</th>
                      <th>Status</th>
            
                      <th>Action</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                     <div align="center" col="6" *ngIf="!apiResponse.length">No Record Found </div>
                    <tr *ngFor="let video of apiResponse">
                      <!-- <td>1</td> -->
                      <td>{{video.title}}</td>
                      <td style="width: 300px;">{{video.description}}</td>
                      <td>{{video.link}}</td>
                      <td>{{video.createdDate}}</td>
                      <td>All User</td>
                      <td>{{video.status}}</td>
                      <td>
                        <span>
                          <a class="edit-action-btn mr-5">
                              <i class="fa fa-pencil"></i>
                          </a>
                        </span>
                        <span>
                            <a class="delete-action-btn mr-5" (click)="deletVideo(video)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </span>
                        <span>
                          <a class="view-action-btn mr-5">
                            <i class="fa fa-eye"></i>
                          </a>
                        </span>
                        <span>
                          <a class="comment-action-btn">
                            <i class="fa fa-comment"></i>
                          </a>
                        </span>
                      </td>
                     
                    </tr>
                  </tbody>
                </table>
          </div>

</div>
