<div
  class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <h1 class="h2">Course Manager</h1>
</div>
<div>

  <div class="video-create-form">
    <!-- <input type="file" id="fileImport"> -->
    <div class="row">
      <div class="col">
        <div class="customSection">
          <div class="dashboard-grid-heading">Add Video</div>
          <form [formGroup]="createClassForm" (ngSubmit)="addNewClass()">
            <div class="row video-form">
              <div class="col col-6 form-group">
                <select class="form-control" formControlName="category">
                  <option value="" selected hidden disabled>Category </option>
                  <option *ngFor="let category of videoCategory" value="{{category.id}}">{{category.title}} </option>
                </select>
              </div>
              <div class="col col-6 form-group">

                <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
              </div>
              
              <div class="col col-6 form-group">
                <input class="form-control" placeholder="Video Link" formControlName="link">
              </div>
              <div class="col col-6 form-group">
                <select class="form-control" placeholder="Video Source" formControlName="source">
                  <option value="" disabled>Video Source </option>
                  <option value="YouTube">YouTube </option>
                  <option value="Vimeo">Vimeo</option>
                </select>
              </div>
              <div class="col col-6 form-group">
                <select class="form-control" formControlName="Accessibility">
                  <option value="" disabled>Accessibility </option>
                  <option value="Free">Free </option>
                  <option value="Paid">Paid</option>
                </select>
              </div>

              <div class="col col-6 form-group">
                <angular-editor id="videoCreateEditor" formControlName="description" [config]="editorConfig"></angular-editor>
                <!-- <input class="form-control" placeholder="Enter Description" formControlName="description"> -->
              </div>

            </div>
            <div align="center" style="margin-top:20px">
              <button type="button" class="btn btn-success" [disabled]="!createClassForm.valid"
                (click)="addNewClass()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <p>Total Video : {{apiResponse.length}} </p>
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Title</th>
          <th>Description</th>
          <th>Link</th>
          <th>Created Date</th>
          <th>Accessibility</th>
          <th>Status</th>

          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!apiResponse.length">
          <td colspan="7" align="center">No Record Found</td>
        </tr>
        <tr *ngFor="let video of apiResponse">
          <!-- <td>1</td> -->
          <td>{{video.title}}</td>
          <td style="width: 100px;" [innerHTML]="video.description"></td>
          <td>{{video.link}}</td>
          <td>{{video.createdDate}}</td>
          <td>All User</td>
          <td>{{video.status}}</td>
          <td style="width:130px;">
            <span>
              <a class="comment-action-btn mr-5" data-toggle="modal" data-target="#commentVideoModal"  (click)="onCommentVideo()">
                <i class="fa fa-comment"></i>
              </a>
            </span>
            <span>
              <a class="edit-action-btn mr-5" data-toggle="modal" data-target="#videoModal"
                (click)="onEditVideo(video)">
                <i class="fa fa-pencil"></i>
              </a>
            </span>
            <span>
              <a class="delete-action-btn mr-5" (click)="deletVideo(video)">
                <i class="fa fa-trash"></i>
              </a>
            </span>
            <!-- <span >
                          <a class="view-action-btn mr-5">
                            <i class="fa fa-eye"></i>
                          </a>
                        </span> -->

          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="videoForm">
          <div class="form-group">
            <label for="title">Title<span class="required">*</span></label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="description">Description<span class="required">*</span></label>
            <angular-editor id="videoEditEditor" formControlName="description" [config]="editorConfig"></angular-editor>
            <!-- <textarea class="form-control" id="description" formControlName="description"></textarea> -->
          </div>
          <div class="form-group">
            <label for="link">Link<span class="required">*</span></label>
            <input type="url" class="form-control" id="link" formControlName="link">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!videoForm.valid" (click)="onUpdateForm()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="commentVideoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="comment-content clearfix" *ngFor="let comment of commentData">
          <div class="comment-text pull-left">{{comment.commentText}}</div>
          <div class="comment-date-time pull-right">
            <span>{{comment.currentDateTime | date: 'MM/dd/yyyy'}}, </span>
            <span>{{comment.currentDateTime | date: 'h:mm a'}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <form [formGroup]="commentVideoForm" class="comment-video-form" autocomplete="off" novalidate>
          <div class="row">
            <div class="col col-10 form-group">
              <input type="text" class="form-control" id="title" placeholder="Comments" formControlName="comment">
            </div>
            <div class="col col-2 form-group">
              <button type="submit" class="btn btn-success" [disabled]="!commentVideoForm.valid" (click)="onSend()">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>