<div
  class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <h1 class="h2"> Question Bank</h1>
</div>
<div>
<div>
  <div class="test-create-form">
    <div class="row">
      <div class="col">
        <div class="customSection">
          <div class="dashboard-grid-heading">Create Test</div>
          <form [formGroup]="createTestForm" (ngSubmit)="addNewTest()">
            <div class="row task-form">
              <div class="col col-6 form-group">
                <input type="text" class="form-control" id="testname" placeholder="Test Name" formControlName="testname">
              </div>
              
              <div class="col col-6 form-group">
                <input class="form-control" placeholder="Description (Optional)" formControlName="description">
              </div>
                  <!-- <div class="col col-6 form-group">
                      <select class="form-control" formControlName="testtime">
                        <option value="" selected hidden disabled>Test Time</option>
                        <option value="90">90 Min</option>
                        <option value="60">60 Min</option>
                        <option value="45">45 Min</option>
                        <option value="30">30 Min</option>
                        <option value="15">15 Min</option>
                      </select>
                  </div>
              -->
              <div class="col col-6 form-group">
                  <select class="form-control" formControlName="year">
                    <option value="" selected hidden disabled>Year</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                  </select>
                </div>
              <div class="col col-6 form-group">
                  <select class="form-control" formControlName="category">
                      <option value="" selected hidden disabled>Category</option>
                      <option value="Previous Year">Previous Year</option>
                      <option value="AIAPGET Free Test">AIAPGET Free Test</option>
                      <option value="AIAPGET 2021 Test Series"> AIAPGET 2021 Test Series</option>
                     
                      <option value="Samitha Wise">Samitha Wise</option>
                      <option value="Subject Wise">Subject Wise</option>
                    </select>
              </div>

              <div class="col col-6 form-group" *ngIf="createTestForm.value.category == 'Subject Wise'">
                  <select class="form-control" formControlName="childcategory">
                      <option value="" selected hidden disabled>Child Category</option>
                      <option *ngFor="let item of categoryList" value="{{item.title}}">{{item.title}}</option>
                     ]
                    </select>
              </div>
              <div class="col col-6 form-group" *ngIf="createTestForm.value.category == 'Samitha Wise'">
                <select class="form-control" formControlName="childcategory">
                    <option value="" selected hidden disabled>Child Category</option>
                    <option *ngFor="let item of samhitawiseList" value="{{item.name}}">{{item.name}}</option>
                   ]
                  </select>
              </div>
              
               <div class="col col-6 form-group">
                  <input class="form-control" type="file" id="fileImport" placeholder="Question Sheet" formControlName="excelFile" >
               </div>
               <div class="col col-6 form-group">
                <input type="number" class="form-control" placeholder="Order Index" formControlName="orderIndex">
              </div>
            
            </div>
            <div align="center" style="margin-top:20px">
              <button type="submit" class="btn btn-success" [disabled]="!createTestForm.valid"
                >Submit</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
  <p>Total Test : {{apiResponse.length}} </p>
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Test Name</th>
          <th>Child Category</th>
          <th>Test Time</th>
          <th>Questions</th>
          <th>Marks</th>
          <th>Year</th>
          <th>Category</th>
          <th>Created Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of apiResponse">
          <td>{{item.testname}}</td>
          <td>{{item.childcategory}}</td>
          <td>{{item.testtime}}</td>
          <td>{{item.totalquestion}}</td>
          <td>{{item.marks}}</td>
          <td>{{item.year}}</td>
          <td>{{item.category}}</td> 
          <td>{{item.createdDate}}</td>
      
          <td style="width:130px;">
            <span>
              <a class="edit-action-btn mr-5" data-toggle="modal" data-target="#testModal" (click)="onEditTest(item)">
                <i class="fa fa-pencil"></i>
              </a>
            </span>
            <span>
              <a class="delete-action-btn" (click)="deleteTest(item)">
                <i class="fa fa-trash"></i>
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
