<div class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <h1 class="h2">Tasks</h1>
</div>

<div>

    <div class="table-responsive-sm">          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Title</th>
                  <th>Description</th>
                  <th>Link</th>
                  <th>Assign To</th>
                  <th>Created Date</th>
                  <th>Status</th>
                  <th>Remark</th>
                  <th>Action</th>
        
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!-- <td>1</td> -->
                  <td>Task for demo</td>
                  <td>description about demo task</td>
                  <td>www.demotest.com</td>
                  <td> Demo User</td>
                  <td>23-04-2020</td>
                  <td>Active</td>
                  <td>Comment here</td>
                  <td>
                    <span>
                      <a class="comment-action-btn mr-5">
                        <i class="fa fa-comment"></i>
                      </a>
                    </span>
                    <span>
                      <a class="delete-action-btn">
                          <i class="fa fa-trash"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>

</div>
