<div class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <h1 class="h2">Tasks</h1>
</div>

<div>
    <p>Total Task :  {{apiResponse.length}} </p>
    <div class="table-responsive-sm">          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Title</th>
                  <th>Description</th>
                  <th>Link</th>
                  <th>Create Date</th>
                  <th>Status</th>
                  <th>Action</th>
        
                </tr>
              </thead>
              <tbody>
                  <div align="center" col="6" *ngIf="!apiResponse.length">No Record Found </div>
                  <tr *ngFor="let task of apiResponse">
                  <!-- <td>1</td> -->
                  <td>{{task.title}}</td>
                  <td>{{task.description}}</td>
                  <td>{{task.link}}</td>
                  <td>{{task.createdDate}}</td>
                  <td>{{task.status}}</td>
                  <td>
                    <span>
                      <a class="comment-action-btn mr-5">
                        <i class="fa fa-comment"></i>
                      </a>
                    </span>
                    <span >
                        <a class="edit-action-btn mr-5" data-toggle="modal" data-target="#videoModal">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </span>
                    <span>
                      <a class="delete-action-btn" (click)="deleteTask(task)">
                          <i class="fa fa-trash"></i>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>

</div>
