<div class="main-header-title d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
</div>
<div>

       <p>Total User :  {{apiResponse.length}} </p>
        <div class="table-responsive-sm">          
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th>Full Name</th>
                      <th>Mobile Number</th>
                      <th>Email Id</th>
                      <th>Course</th>
                      <th>College</th>
                      <th>Address</th>
                      <th>User Type</th>
                      <th>Fees Paid</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let user of apiResponse">
                      <!-- <td>1</td> -->
                      <td>{{user.FullName}}</td>
                      <td>{{user.Mobile}}</td>
                      <td>{{user.Email}}</td>
                      <td>{{user.Course}}</td>
                      <td>{{user.College}}</td>
                      <td>{{user.Address}}</td>
                      <td>Free</td>
                      <td>0</td>
                      <td>Active</td>
                      <td>
                        <span>
                          <a class="edit-action-btn mr-5">
                              <i class="fa fa-pencil"></i>
                          </a>
                      </span>
                      <span>
                          <a class="delete-action-btn" (click)="onDeleteUser()">
                              <i class="fa fa-trash"></i>
                          </a>
                      </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>

</div>
