<div style="padding-top: 50px;">

        <div class="table-responsive-sm">          
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!-- <th>#</th> -->
                      <th>Full Name</th>
                      <th>Mobile Number</th>
                      <th>Email Id</th>
                      <th>Course</th>
                      <th>College</th>
                      <th>Address</th>
                      <th>User Type</th>
                      <th>Fees Paid</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr>
                      <!-- <td>1</td> -->
                      <td>Anna</td>
                      <td>7048351338</td>
                      <td>demo@gmail.com</td>
                      <td>UPSC</td>
                      <td>APV College</td>
                      <td>123, sector 20, Noida</td>
                      <td>Free</td>
                      <td>0</td>
                      <td>Active</td>
                      <td>Edit, and delete</td>
                    </tr>
                  </tbody>
                </table>
          </div>

</div>
